{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
    <h2 class="text-warning mb-5 border-bottom mt-3">SERVICES</h2>
    <div class="row">
        <div class="col-sm-4 text-warning text-center mb-3"><i class="fas fa-code fa-2x mb-3"></i>
            <h3>Web Development</h3>
            <h5 class="text-primary">Python/Django</h5>
            <ul class="text-justify text-info" style="line-height:2rem ">
                <li>Funactio/Class Based views</li>
                <li>Redering the Templates <br/>inside project and application</li>
                <li>Dynamic templates using DTL</li>
                <li>Templates Inheritance</li>
                <li>Templates Inheritance with Staticfiles</li>
                <li>Statics files inside project and application</li>
                <li>Hyperlinks using URL tag</li>
                <li>Template inside template using include tag </li>
            </ul>
        </div>
        <div class="col-sm-4 text-warning text-center mb-3 "><i class="fas fa-code fa-2x mb-3 "></i>
            <h3>WordPress</h3>
            <ul class="text-justify text-info " style="line-height:2rem ">
                <br/>
                <li>Basic Websites Design</li>

            </ul>
        </div>
        <div class="col-sm-4 text-warning text-center mb-3 "><i class="fas fa-code fa-2x mb-3 "></i>
            <h3>API Design and Development</h3>
            <h5 class="text-primary">Django REST-API</h5>
            <ul class="text-justify text-info " style="line-height:2rem ">
                <li>Library website and API</li>
                <li>TODO APP API</li>
                <li>Blog Website API</li>
                <li>Permission</li>
                <li>CRUD API using function and class based views</li>
                <li>Validation
                    <ol>
                        <li>field level</li>
                        <li>object level</li>
                        <li>validator</li>
                    </ol>
                </li>
                <li>ModelSerializer(REST Framework)</li>
                <li>Generic API Views and Mixins</li>
            </ul>
        </div>
    </div>
</div>{% endblock content %}